*,
*::before,
*::after {
    box-sizing: border-box;
    /*modification du calcul des dimensions des boites*/
    /*https://medium.com/prod-io/box-sizing-make-your-css-hassle-free-6455adde0ed6*/
}



body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;

}
.logo{
    color: #77bbff;
}
.boutons{
    text-decoration: none;
    color: #77bbff;
    transition: 0.5s;
    padding: 5px;
    background-color: rgb(206, 232, 242);
    border-radius: 8px;

}

/*zone fixe img arr plan sous titre h1*/
.fixed-bg {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    /* flex  nous sera utile pour centrer horizontalement et verticalement l'enfant .container */
    display: flex;

    height: 100vh;
}

.fixed-bg h1 {
    font-size: 2.3rem;
    color: white;

    /*permet de centrer H et V car le parent du h1 est en display:flex*/
    margin: auto;
}

.bg-1 {
    /* background-image: url("img/fond1.jpg"); */
    background-image:url("images/aquarelle_bleue.jpg");
}







/*zones avec couleur arr plan sous texte*/
.color-1,
.color-2,
.color-3,
.color-4, 
.color-5,
.color-6,
.color-7{
    /* flex  nous sera utile pour centrer horizontalement et verticalement l'enfant .container */
    display: flex;
    height: 100vh;

    color: white;

}

.color-1 {
    background-color: rgba(30, 152, 239, 0.529);
}

.color-2 {
    background-color: #55b6f6;
}

.color-3 {
    background-color: #77bbff;
}

.color-4 {
    background-color: #77b1d3;
}
.color-5{
    background-color: rgb(40, 91, 136);
}
.color-6{
    background-color: #77bbff;
}
.color-7{
    background-color: #77b1d3;
}




/*body {
    font-family: 'Montserrat Alternates', sans-serif;            
    background-color: #ed796d;
}*/


html{
    scroll-behavior: smooth;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255 255 255 /0.9);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}




.MonPC{
font-size: 5em;
text-align: center;
font-weight: bold;
margin-left: auto;
margin-right: auto;
margin-top: 350px;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #77b1d3;
}

.phrase_explicative{

}


/* mettre en gras les phrases "Si j'étais...je serais..."   ,*/
.TextesGras{
font-weight: bold;
font-size: 2em;
margin-top: 250px;
text-align: justify;
margin-right: 400px;
padding: 20px;

}

p{
    color: white;
}
.flotte {
    margin-top: 150px;
    float:left;
    margin-right: 15px;
    width: 400px;
  }





/* Formulaire*/ 
form{
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 0px;
    margin-bottom: 40px;
    
}

.titre {
    font-weight: bold;
}



/*boutons haute de page , mettre la flèche a droite */
.btn-haut-de-page{
    width: 90px;
    right: 0%;
    left: 800px;
    position: relative;
    top: 15px; left:2000x;
}


/* footer */
/* Mentions légales */
.mentions{
    background-color:rgba(76, 89, 143, 0.812);
    text-align: center;
    color: rgb(146, 126, 126);
    text-align: center;
    padding : 10px 40px 10px 40px; 
   

} 