body {
    background-color: rgb(0, 7, 44);
    font-family: 'Roboto', sans-serif;
    color: rgb(102, 106, 167);
}





/* Boutons haute de page */
.boutons{
    font-family: 'Roboto', sans-serif;
    color: rgb(12, 21, 158);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin-left: 3px;
    margin-right: 3px;
    padding:10px ;
    
}

li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;

}








/* Titre */
.titre {
    font-size: 4em;
    color: rgb(255, 255, 255);
    text-align: center;
    outline: 4px dotted rgb(255, 255, 255);

}






/* Phrase en gras analogies et valeurs */ 
.animal {
    font-size: 2.1em;
   
}

.plante {
    font-size: 2.1em;

}

.art {
    font-size: 2.1em;

}

.expression {
    font-size: 2.1em;
}

.film {
    font-size: 2.1em;
}

.paysage {
    font-size: 2.1em;
}

.application {

    font-size: 2.1em;
}








/*Formulaire  première version*/
.TitreFormulaire {
    font-size: medium;
    text-align: center;
    color: white;
}

.containerForm {
    display: flex;
    justify-content: center;
}

form {
    background-color: rgba(255, 255, 255, 0.505);
    text-align: center;
    padding : 16px 32px 16px 32px; 
    border-radius: 15px;
}


input {

    width: 300px;
    height: 35px;
    margin-bottom: 20px;
    border: 1px solid #9e9e9e;
}

.AnalogieFormulaire{
    color: white;
}

.ValeurFormulaire{
    color: white;
}

.ExplicationFormulaire{
color: white;

}
.BlockEcriture{

height: 80px;

}
















/*boutons haute de page */
.btn-haut-de-page{
    position: relative;
    right: 0%;
    left: 800px;
}



/* mentions légales */
footer {
    background-color:rgba(0, 0, 0, 0.198);
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.505);
    text-align: center;
    padding : 10px 40px 10px 40px; 
   

}





